<?php

spl_autoload_register(function($className) {
    if (strpos($className, 'DotsUnited\\Cabinet\\') === 0) {
        require __DIR__ . '/src/' . str_replace('\\', '/', $className) . '.php';
    }
});
