<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php"
>
    <testsuite name="Cabinet Test Suite">
        <directory>./tests/DotsUnited/Cabinet/</directory>
    </testsuite>

    <php>
        <const name="TESTS_DOTSUNITED_CABINET_ADAPTER_AMAZONS3_ONLINE_ENABLED" value="false"/>

        <!-- Your AWS key and secret, only needed when online tests are enabled -->
        <const name="TESTS_DOTSUNITED_CABINET_ADAPTER_AMAZONS3_ONLINE_AWS_KEY" value=""/>
        <const name="TESTS_DOTSUNITED_CABINET_ADAPTER_AMAZONS3_ONLINE_AWS_SECRET_KEY" value=""/>

        <!-- Choose a unique bucket name -->
        <const name="TESTS_DOTSUNITED_CABINET_ADAPTER_AMAZONS3_ONLINE_BUCKET_NAME" value="dotsunited-cabinet-unittests"/>
        <!-- E.g. 'us-east-1', 'us-west-1', 'us-west-2', 'eu-west-1', etc... -->
        <const name="TESTS_DOTSUNITED_CABINET_ADAPTER_AMAZONS3_ONLINE_BUCKET_REGION" value=""/>
    </php>

    <filter>
        <whitelist>
            <directory>./src/DotsUnited/Cabinet/</directory>
        </whitelist>
    </filter>
</phpunit>
